chapter-1/app
chapter-1/hello_world
chapter-1/manage.py
chapter-1/db.sqlite3
chapter-2/static/
chapter-3/static/
chapter-4/social-network_step_1/static/admin/
chapter-4/social-network_step_2/static/admin/
chapter-4/social-network_step_3/static/admin/
chapter-4/social-network_step_4/static/admin/
chapter-4/social-network_step_5/static/admin/
chapter-4/social-network_step_6/static/admin/
chapter-5/static/admin/
chapter-6/static/admin/
