chapter 1/Executable Python template with Docker/app
chapter 1/Executable Python template with Docker/hello_world
chapter 1/Executable Python template with Docker/manage.py
chapter 1/Executable Python template with Docker/db.sqlite3
chapter 2/Django project template integrated with Docker for using channels/static/
