version: '3.8'

services:

  python:
    build:
      context: ./
      dockerfile: ./Dockerfile
    entrypoint: python3 hello.py
    #entrypoint: django-admin --version
    volumes:
      - .:/usr/src/app/
