<ul class="nav__ul">
    <li>
        <a
                href="#"
                class="nav__link nav__link--page{% if active_nav == "all posts" %} active{% endif %}"
                data-target="all posts"
        >
            All posts
        </a>
    </li>
    <li>
        <a
                href="#"
                class="nav__link nav__link--page{% if active_nav == "about us" %} active{% endif %}"
                data-target="about us"
        >
            About us
        </a>
    </li>
</ul>