

/* Global styles */
:root {
    --color__background: #f6f4f3;
    --color__gray: #ccc;
    --color__black: #000;
    --color__active: #00a0ff;
}

* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--color__background);
}

/* General classes for small components */

.container {
    margin: 0 auto;
    padding: 1rem 0;
    max-width: 40rem;
}

.nav__ul {
  display: flex;
  list-style: none;
  padding: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav__link.active {
    color: var(--color__active);
    text-decoration: none;
}

.button {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: var(--color__gray);
    border: 0;
    cursor: pointer;
    text-decoration: none;
}

.button:hover {
    filter: brightness(90%);
}

.input {
    display: block;
    width: 100%;
    outline: none;
    padding: .5rem;
    resize: none;
    border: 1px solid var(--color__gray);
    box-sizing: border-box;
}

.footer {
    margin-top: 1rem;
    text-align: center;
}