
http://hello.localhost {
    root * /usr/src/app/

    @notStatic {
      not path /static/* /media/*
    }

    reverse_proxy @notStatic django:8000

    file_server
}

http://webmail.localhost {
    reverse_proxy mailhog:8025
}
