/* Global styles */
:root {
    --color__background: #f6f4f3;
    --color__gray: #ccc;
    --color__black: #000;
}

* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--color__background);
}

/* General classes for small components */

.container {
    margin: 0 auto;
    padding: 1rem 0;
    max-width: 40rem;
}

.button {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: var(--color__gray);
    border: 0;
    cursor: pointer;
    text-decoration: none;
}

.button:hover {
    filter: brightness(90%);
}

.input {
    display: block;
    width: 100%;
    outline: none;
    padding: .5rem;
    resize: none;
    border: 1px solid var(--color__gray);
    box-sizing: border-box;
}

/* Styles for chat */

.title {
    text-align: center;
}

.subtitle {
    text-align: center;
    font-weight: normal;
    margin: 0;
}

.chat {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
}

/* Aside */

.nav__ul {
    list-style: none;
    padding: 0;
}

.nav__link {
    display: block;
    padding: 0.5rem 1rem;
    background-color: var(--color__gray);
    border: 1px solid var(--color__background);
    color: var(--color__black);
    text-decoration: none;
}

.nav__link:hover {
    filter: brightness(90%);
}

/* End Aside */

/* Chat */

.messages {
    display: grid;
    height: 30rem;
    grid-template-rows: 4rem auto 2rem;
}

.massage__header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.messages__list {
    overflow-y: auto;
}

.message__item {
    border: 1px solid var(--color__gray);
    padding: 1rem;
}

.massage__header .message__title {
    margin-top: 0;
}

.massage__header .message__time {
    text-align: right;
}

.messages__new-message {
    display: grid;
    grid-template-columns: 8fr 1fr;
}

/* End Chat */