<ul>
    {# Links always visible #}
    <li>
        <a href="#" class="nav__link" data-target="home">Home</a>
    </li>
{% if request.user.is_authenticated %}
    {# Links only if identified #}
    <li>
        <a href="#" class="nav__link" data-target="profile">Profile</a>
    </li>
    <li>
        <a href="#" class="nav__link" data-target="logout">Logout</a>
    </li>
{% else %}
    {# Links only if not identified #}
    <li>
        <a href="#" class="nav__link" data-target="login">Login</a>
    </li>
    <li>
        <a href="#" class="nav__link" data-target="signup">Signup</a>
    </li>
{% endif %}
</ul>