<nav>
    <h2>Groups</h2>
    <ul class="nav__ul">
        <li class="nav__li"><a class="nav__link" href="#">#hi</a></li>
        <li class="nav__li"><a class="nav__link" href="#">#python</a></li>
        <li class="nav__li"><a class="nav__link" href="#">#events</a></li>
        <li class="nav__li"><a class="nav__link" href="#">#off-topic</a></li>
    </ul>
    <h2>Users</h2>
    <ul class="nav__ul">
        {% for user in users %}
            <li class="nav__li"><a class="nav__link" href="#">{{ user.username }}</a></li>
        {% endfor %}
    </ul>
</nav>