{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script defer src="{% static 'js/index.js' %}"></script>
</head>
<body
        data-host="{{ request.get_host }}"
        data-scheme="{{ request.scheme }}"
>
    <div class="container">
        <h1>Chat</h1>
        <aside>
            <nav>
                <ul>
                    {# All users #}
                    <li><a href="#" class="active">#announcements</a></li>
                    {# Groups #}
                    <li><a href="#">#python</a></li>
                    <li><a href="#">#events</a></li>
                    <li><a href="#">#off-topic</a></li>
                    {# Single users #}
                </ul>
            </nav>
        </aside>
        <main id="main"></main>
    </div>
</body>
</html>