{% for message in messages %}
    <article class="message" id="message--{{ message.id }}">
        <h2 class="message__author">{{ message.author }}</h2>
        <p class="message__text">{{ message.text }}</p>
        <footer class="message__footer">
            <time class="message__created_at">{{ message.created_at }}</time>
            <div class="message__controls">
                <button class="button messages__update" data-id="{{ message.id }}">Edit</button>
                <button class="button messages__delete" data-id="{{ message.id }}">Delete</button>
            </div>
        </footer>
    </article>
{% endfor %}
{% if total_pages != 0 %}
    <!-- Paginator -->
    <div id="paginator" data-page="{{ page }}">
        {# The back button on the first page is not displayed #}
        {% if page != 1 %}
        <button class="button" id="messages__previous-page">Previous</button>
        {% endif %}

        {# The forward button on the last page is not displayed #}
        {% if page != total_pages %}
        <button class="button" id="messages__next-page">Next</button>
        {% endif %}
    </div>
    <!-- End Paginator -->
{% endif %}